.container {
    background-image: url(../img/fondoNegro.jpg);
    background-size: cover;
    min-width: 350px;
    max-width: 1904px;
    padding: 0;
    margin: 0;
}

header {
    padding: 10px;
}

.iusuario {
    margin-top: 20px;
    margin-bottom: 10px;
}

.formulario {
    margin: 0;
    padding: 20px;
    border: 2px solid white;
    border-radius: 30px;
}

.bienvenida {
    padding: 10px;
}

.bienvenida h3 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.volver {
    padding: 10px;
}

.volver img:hover {
    box-shadow: 3px 0px 30px rgb(83, 216, 111);
    border-radius: 20px;
}

.pie {
    padding: 35px;
    ;
}

.pie img {
    padding: 10px;
}

@media (max-width:620px) {
    .bienvenida h3 {
        text-align: right;
        font-size: 17px;
    }
}

@media (min-width:620px)and (max-width:900px) {
    .bienvenida h3 {
        font-size: 20px;
    }
}

@media (min-width:900px)and (max-width:1400px) {
    .bienvenida h3 {
        font-size: 30px;
    }
}